<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" href="login.css" />
</head>
<body>
    
    <div class="rectangle">  
        <div class="login"> Login </div>    
        <div class="login_explain"> </div>

        <form action="signin" method="POST">
            <div class="login_id">
                <span class="login_id_text"> ID </span>    
                <input class="login_id_input" type="text" name="email">
            </div>

            <div class="login_pw">
                <span class="login_pw_text"> PW </span>    
                <input class="login_pw_input" type="text" name="password">
            </div>

            <input type="submit">
        </form>

    </div>
    
</body>
</html>