<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" href="login.css" />
</head>
<body>

    <nav class="topmenu">
        <ul>
            <li class="home">개교기념</li>
            <li><a href="#">방학</a></li>
            <li><a href="#">개학</a></li>
            <li><a href="#">로그인</a></li>
            <li><a href="#">회원가입</a></li>
        </ul>
    </nav>
    
    
    <div class="rectangle">  
        <div class="signup"> 회원가입 </div>    
        <div class="login_explain">이메일과 비밀번호를 입력해주세요!</div>

        <form action="signup" method="POST">
            <div class="login_id">
                <span class="login_id_text"> ID </span>    
                <input class="login_id_input" type="email" name="email" required>
            </div>

            <div class="login_pw">
                <span class="login_pw_text"> PW </span>    
                <input class="login_pw_input" type="password" name="password" required>
            </div>

            <center><div class="div_login_btn"><input type="submit" value="회원가입" class="login_btn"></div></center>
        </form>

    </div>

</body>
</html>