/* ALL */

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

html { 
    background: url("pic/background.png") no-repeat center center fixed; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover; 

    font-family: NotoSansKR;
    color: #ffffff;
}

/* Nav */
.topmenu {
    height: 50px;
}

li{
    font-size: 20px;
    float: left;
    list-style: none;
    margin-left: 40px;
    margin-top: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 30px;
}

a{
    color: inherit;
    text-decoration: none;
}

a:hover{
    border-bottom: 3px solid #ffffff;
}

.home{
    font-size: 30px;
    font-weight: 700; 
    margin-left: 140px; 
}


/* Login */

.rectangle {
    margin: 200px auto 0px;
    width: 560px;
    height: 477px;
    border-radius: 5px; 
    background-color: rgba(0, 0, 0, 0.35);
  }

.login {
    margin: 10px auto;
    padding: 35px 0px 0px;
    font-size: 25px;
    width: 80px;
    height: 27px;
    font-weight: bold;
    line-height: 3.2;
  }

.login_explain{
    margin: 40px auto;
    width: 250px;
    height: 18px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.78;
  }

/* ID 입력 */
.login_id{
    margin-left: 80px;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.28;
    text-align: left;

  }

.login_id_input{
    margin-left: 30px;
    display: inline-block;
    width: 314px;
    height: 55px;
    background: transparent;
    border: solid 3px #f5f5f5;
    font-size: 20px;
    color: #ffffff;
}

/* PW 입력 */
.login_pw{
    margin-left: 80px;
    margin-top: 30px; 
    font-size: 25px;
    font-weight: bold;
    line-height: 1.28;
    text-align: left;
  }

.login_pw_input{
    margin-left: 17px;
    display: inline-block;
    width: 314px;
    height: 55px;
    background: transparent;
    border: solid 3px #f5f5f5;
    font-size: 20px;
    color: #ffffff;
}

/* 로그인 버튼 */
.login_btn{
    margin: 40px auto;
    width: 400px;
    height: 64px;
    background-color: #ffffff;
    font-weight: bold;
    font-size: 20px;
}

/* Signup */
.signup {
    margin: 10px auto;  
    padding: 35px 0px 0px;
    font-size: 25px;
    width: 120px;
    height: 27px;
    font-weight: bold;
    line-height: 3.2;
  }